{
    "semi": false,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-astro"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}