---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
---

<Layout
    title="PDFizado | Documentación"
    description="Documentación PDFizado para el uso correcto de la aplicación"
    content="Documentación PDFizado"
>
    <main class="max-w-5xl mx-auto p-4 rounded">
        <h1
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-2"
        >
            Documentación de PDFizado
        </h1>
        <p class="text-white/50 font-medium mb-4">
            Guía hecha por Andrés Rodríguez
        </p>
        <hr class="border-white/20" />

        <div class="p-4 my-4 max-w-4xl mx-auto rounded">
            <h2 class="scroll-m-20 text-3xl font-bold tracking-tight mb-4">
                Cómo usar PDFizado
            </h2>
            <p class="text-white/80 leading-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore ducimus exercitationem est, nulla necessitatibus hic
                modi ad iste quam tenetur fugiat dolores sunt dolorum, vero,
                architecto beatae? Ab quam sit, deleniti distinctio iusto quo
                dolorum veniam aliquam doloribus recusandae corporis sequi
                labore necessitatibus explicabo error quae in rem autem
                accusantium! Praesentium blanditiis autem corporis nesciunt
                quod? Sequi quo sint a maxime culpa natus neque voluptate
                accusantium autem repellendus aperiam aspernatur reprehenderit,
                dolor laudantium incidunt quisquam veniam. Sunt deserunt
                inventore quas voluptatem autem? Tenetur modi officia neque
                nihil animi distinctio quasi veritatis? Iure eum nisi accusamus
                et optio a praesentium quos.
            </p>

            <Image
                src="https://images.ctfassets.net/fzn2n1nzq965/3AGidihOJl4nH9D1vDjM84/9540155d584be52fc54c443b6efa4ae6/homepage.png?q=80"
                alt="Alt"
                width="2048"
                height="1024"
                class="rounded shadow my-4"
            />
        </div>
    </main>
</Layout>
