---
import { Picture } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import Typography from '../components/Typography.astro'
---

<Layout
    title="Documentación"
    description="Documentación PDFizado para el uso correcto de la aplicación"
    content="Documentación PDFizado"
    canonical="/"
>
    <main class="max-w-5xl mx-auto p-4 rounded">
        <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight mb-2">
            Documentación de PDFizado
        </h1>
        <p class="text-white/50 font-medium mb-4 text-sm">
            Guía hecha por Andrés Rodríguez
        </p>
        <hr class="border-white/20" />

        <div class="my-4 max-w-4xl mx-auto rounded">
            <h2 class="scroll-m-20 text-3xl font-bold tracking-tight">
                Cómo usar PDFizado
            </h2>

            <Typography className="my-4">
                En esta breve guía vas a poder comprender cómo utilizar <a
                    target="_blank"
                    class="font-bold"
                    href="https://pdfizado.com">PDFizado</a
                > y utilizarlo para facilitar mucho tu estudio y lectura de PDFs
                extensos. Ir al <a
                    href="/quickstart"
                    class="hover:underline text-[#EB899E] font-medium"
                    >inicio rápido</a
                >
            </Typography>

            <Picture
                src="/images/pdfizado-landing.png"
                alt="Página de inicio de PDFizado"
                formats={['avif', 'webp']}
                width="800"
                height="670"
                loading="eager"
                class="rounded shadow mt-4 mx-auto"
            />
        </div>
    </main>
</Layout>
