---
import { Picture } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
---

<Layout
    title="PDFizado | Documentación"
    description="Documentación PDFizado para el uso correcto de la aplicación"
    content="Documentación PDFizado"
>
    <main class="max-w-5xl mx-auto p-4 rounded">
        <h1
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-2"
        >
            Documentación de PDFizado
        </h1>
        <p class="text-white/50 font-medium mb-4">
            Guía hecha por Andrés Rodríguez
        </p>
        <hr class="border-white/20" />

        <div class="my-4 max-w-4xl mx-auto rounded">
            <p class="text-white/60 leading-6 my-4 font-medium">
                En esta breve guía vas a poder comprender cómo utilizar <a
                    target="_blank"
                    class="font-bold"
                    href="https://pdfizado.com">PDFizado</a
                > y utilizarlo para facilitar mucho tu estudio y lectura de PDFs
                extensos.
            </p>

            <h2 class="scroll-m-20 text-3xl font-bold tracking-tight">
                Cómo usar PDFizado
            </h2>

            <p class="text-white/80 leading-6 my-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quaerat dolorum amet beatae ipsam doloribus iste eveniet quod
                porro suscipit, repudiandae eius tempora, nostrum, quis quisquam
                sed corrupti eligendi. Eos, consequuntur.
            </p>

            <Picture
                src="/pdfizado-landing.png"
                alt="Página de inicio de PDFizado"
                formats={['avif', 'webp']}
                width="1366"
                height="1024"
                class="rounded shadow-xl my-4"
            />
        </div>
    </main>
</Layout>
