---
import Layout from '../layouts/Layout.astro'
import Typography from '../components/Typography.astro'
import Header from '../components/Header.astro'
---

<Layout
    title="Plan"
    description="Cómo actualizar mi plan"
    content="Plan de PDFizado"
    canonical="/plan"
>
    <main class="max-w-5xl mx-auto p-4 rounded">
        <Header title="Cómo actualizar mi plan" />

        <div class="mb-4 max-w-4xl mx-auto rounded">
            <Typography className="mt-8">Cambiar de plan</Typography>
        </div>
    </main>
</Layout>
