---
import { Picture } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import Typography from '../components/Typography.astro'
---

<Layout
    title="Inicio rápido"
    description="Documentación PDFizado para el uso correcto de la aplicación"
    content="Documentación PDFizado"
    canonical="/quickstart"
>
    <main class="max-w-5xl mx-auto p-4 rounded">
        <h1
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-4"
        >
            Guía de inicio rápido
        </h1>

        <hr class="border-white/20" />

        <div class="my-4 max-w-4xl mx-auto rounded">
            <a href="/" class="hover:underline">Volver</a>

            <h2 class="scroll-m-20 text-3xl font-bold tracking-tight my-4">
                Primeros pasos
            </h2>

            <Typography>
                Primero, entrar a la página principal de <a
                    href="https://pdfizado.com"
                    target="_blank"
                    class="font-bold">PDFizado</a
                > y hacer clic en "Crear cuenta"
            </Typography>

            <Picture
                src="/images/create-account.png"
                alt="Primer paso para utilizar PDFizado"
                formats={['avif', 'webp']}
                width="960"
                height="80"
                class="rounded shadow my-4 mx-auto"
            />

            <Typography>
                Luego, completar el formulario con nuestra información
                correspondiente:
            </Typography>

            <Picture
                src="/images/register.png"
                alt="Formulario de registro de PDFizado"
                formats={['avif', 'webp']}
                width="1024"
                height="760"
                class="rounded shadow my-4 mx-auto"
            />

            <Typography>
                Una vez completada la información y enviada, debemos dirigirnos
                al correo electrónico que utilizamos para registranos y
                verificar nuestra cuenta haciendo clic en el botón que se nos
                indica:
            </Typography>

            <Picture
                src="/images/verify-account.png"
                alt="Verificación de cuenta"
                formats={['avif', 'webp']}
                width="620"
                height="630"
                class="rounded shadow my-4 mx-auto"
            />
        </div>
    </main>
</Layout>
