<nav>
    <ul class="flex flex-wrap justify-center items-center gap-4 pb-4 md:pb-0">
        <li><a class="hover:underline" href="/">Inicio</a></li>
        <li>
            <a class="hover:underline" href="/quickstart">Primeros pasos</a>
        </li>
        <li>
            <a class="hover:underline" href="/forgot-password"
                >Recuperar contraseña</a
            >
        </li>
        <li>
            <a class="hover:underline" href="/plan">Mejorar plan</a>
        </li>
    </ul>
</nav>
